.sepp__profile {
  flex: 1;
}
.sepp__profile-user--profile {
  height: 85%;
  margin-top: 2rem;
  background: #eadded;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.sepp__profile-user--detail {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sepp__profile-user--detail img {
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
